// black

.black-btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
  
.black-btn:hover {
  background-color: #374151;
}
  
.black-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

// white

.white-btn {
  @extend .black-btn;
  background-color: #FFFFFF;
  color: #111827;
  text-decoration: none #c4c7cc solid;
}
  
.white-btn:hover {
  background-color: #e7e7e8;
}
  
.white-btn:focus {
  @extend .black-btn:focus;
}

// default button

.btn {
  @extend .black-btn;
}
.btn:hover {
  @extend .black-btn:hover;
}
.btn:focus {
  @extend .black-btn:focus;
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #FFFFFF;
    color: #111827;
    text-decoration: none #c4c7cc solid;
  }
  .btn:hover {
    background-color: #e7e7e8;
  }
  .btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}