// main
%btn {
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  // color
  background-color: #111827;
  color: #FFFFFF;
}
%btn:hover {
  // color
  background-color: #374151;
}
%btn:focus {
  // use same style
  @extend %btn;
}

// black
.black-btn {
  @extend %btn;
  background-color: #111827;
  color: #FFFFFF;
}
.black-btn:hover {
  background-color: #374151;
}
.black-btn:focus {
  @extend .black-btn;
}

// white

.white-btn {
  @extend %btn;
  background-color: #FFFFFF;
  color: #111827;
  text-decoration: none #2c2d2e solid;
}
.white-btn:hover {
  background-color: #e7e7e8;
}
.white-btn:focus {
  @extend .white-btn;
}

// default button
.btn {
  @extend .black-btn;
}
.btn:hover {
  @extend .black-btn, :hover;
}
.btn:focus {
  @extend .black-btn, :focus;
}
@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #FFFFFF;
    color: #111827;
    text-decoration: none #c4c7cc solid;
  }
  .btn:hover { // different bg color
    background-color: #e7e7e8;
    color: #111827;
    text-decoration: none #2c2d2e solid;
  }
  .btn:focus { // same as .btn
    background-color: #FFFFFF;
    color: #111827;
    text-decoration: none #c4c7cc solid;
  }
}